.pdm.toml
*.db
pycsw.conf
.venv
.vscode
__pycache__
log/*
!log/README.md
metadata/*
!metadata/README.md
samples
.env
!data/README.md
!data/samples/*
ogc2ckan/mappings/organizations/*
!ogc2ckan/mappings/organizations/README.md
!ogc2ckan/mappings/organizations/template-org.yaml
log/*
!log/README.md
ckan-ogc/conf/*
!ckan-ogc/conf/config.yaml.template
.pdm-python
.env.*